/* Глобальные*/

:root {
    --dark-blue: #32425C;
    --black-blue: #293449;
    --basic-red: #ee3643;
    --basic-green: #63a63E;
    --active-basic-red: #cc3333;
    --white: #ffffff;
    --basic-grey: #c5c5c5;
}

.container {
    width: 940px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--white);
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*хедер*/

.header {
    background-color: rgba(0, 0, 0, 0.01);
}

.header-top-wrapper {
    background-color: var(--black-blue);
    font-size: 18px;
    line-height: 24px;
}

.header-top {
    display: flex;
    height: 42px;
}

.header-top-left {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: auto;
}

.header-top-right {
    display: flex;
    align-items: center;
}

.header-top-btn p {
    margin: 0;
}

.header-top svg {
    align-self: center;
    padding-left: 9px;
    padding-right: 9px;
}

/*хедер - кнопка "Техномарт*/
.header-top-title {
    background-color: var(--basic-red);
    border: 0;
    border-bottom: 5px solid rgb(181, 41, 51);
    padding-left: 56px;
    padding-right: 56px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-top-title:active {
    background-color: #ba2732;
    border-color: #8d1e26;
}

/*кнопка поиск*/
.header-top-search {
    display: flex;
    height: 100%;
    align-items: center;
}

.header-top-search {
    fill-opacity: 0.3;
    fill: var(--white);
    height: 100%;
    width: 100%;
    align-items: center;
}

.header-top-search:hover {
    fill-opacity: 1;
    fill: #ffffff;
}

.header-top-search:focus {
    fill-opacity: 1;
    fill: var(--basic-red);
    color: #000000;
    background-color: var(--white);
    
}

.header-top-search:active {
    fill-opacity: 0.3;
    fill: var(--white);
    background-color: var(--black-blue);
    color: rgba(255, 255, 255, 0.3);
}

/*хедер - кнопка закладки и корзина*/
.header-top-bookmarks,
.header-top-cart {
    height: 100%;
    display: flex;
    align-items: center;
    fill-opacity: 0.3;
    fill: var(--white);
    padding-right: 26px;
}

.header-top-bookmarks:hover,
.header-top-cart:hover {
    fill-opacity: 1;
    fill: var(--white);
}

.header-top-bookmarks:active,
.header-top-cart:active {
    background-color: #161D29;
    fill-opacity: 0.3;
    fill: var(--white);
    color: rgba(255, 255, 255, 0.3);
}

/*хедер - кнопка оформить заказ*/
.header-top-order {
    background-color: var(--basic-green);
    display: flex;
    padding-left: 19px;
    padding-right: 16px;
    height: 100%;
    align-items: center;
}

.header-top-order:hover {
    background-color: #5fbb2d;
}

.header-top-order:focus {
    background-color: var(--basic-green);
    color: var(--white);
}

.header-top-order:active {
    background-color: var(--basic-green);
    color: #222222;
    color: #b1d39e;
}

.header-middle {
    display: flex;
    height: 158px;
    justify-content: space-between;
}

.page-title {
    line-height: 23px;
    text-align: left;
    font-style: italic;
    display: flex;
    font-size: 16px;
    color: var(--basic-red);
    align-items: center;
    padding-left: 30px;
}

.header-middle-contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header-middle-contacts-phone {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-red);
    padding: 7px 40px;
    height: 30px;
    border: 3px solid var(--white);
    display: flex;
}

.header-middle-contacts-phone::before {
    content: url(images/icons/icon-phone.svg);
    padding-right: 16px;
    display: flex;
}

.header-middle-contacts address {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: var(--dark-blue);
}

.header-middle-login {
    align-self: center;
}

.header-middle-login-list {
    display: flex;
    align-items: center;
}

.header-middle-login-list li {
    background-color: var(--white);
}

.header-middle-login-list-sign-in {
    margin-right: 10px;
    padding-left: 19px;
    padding-right: 27px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.header-middle-login-list-sign-in a {
    display: flex;
}

.header-middle-login-list-sign-in p {
    margin: 0;
}

.header-middle-login-list-sign-in svg {
    padding-right: 6px;
}

.header-middle-login-list-sign-up {
    padding: 12px 24px;
}

.header-middle-login-link {
    color: #000000;
    fill: var(--basic-grey);
}

.header-middle-login-link:hover {
    color: var(--basic-red);
    fill: #3d546f;
}

.header-middle-login-link:active {
    color: var(--basic-grey);
    fill: var(--basic-grey);
}

.header-bottom {
    padding-bottom: 54px;
}

.header-bottom-navigation {
    background-color: var(--dark-blue);
    font-size: 18px;
    line-height: 24px;
}

.header-bottom-navigation-list {
    border-bottom: 5px solid var(--black-blue);
    display: flex;
    justify-content: space-around;
    height: 55px;
}

.header-bottom-navigation-list li {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
}

.header-bottom-navigation-list li:hover {
    background-color: var(--black-blue);
}

.header-bottom-navigation-list li:active {
    background-color: #1d2739;
}


/*майн*/

main {
    margin-top: 60px;
}

.promo-offers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "A  B  C"
        "D  D  E"
        "D  D  F";
    gap: 20px;
}

.promo-elements-materials {
    grid-area: A;
    background-color: #FFBF47;
}

.promo-elements-tool {
    grid-area: B;
    background-color: #3BBCE3;
}

.promo-elements-technic {
    grid-area: C;
    background-color: #DC91D8;
}

.promo-elements-boers {
    grid-area: D;
    background-image: url(images/perforators.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.promo-elements-benefit {
    grid-area: E;
    background-color: #8ED78F;
}

.promo-elements-delivery {
    grid-area: F;
    background-color: #FFC047;
}

.promo-offers-item-title {
    color: var(--white);
    margin: 0;
}

.promo-offers-item-link {
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 20px;
    justify-content: center;
    display: flex;
    font-size: 14px;
    color: var(--white);
    line-height: 18px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}

.promo-offers-item-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-offers-item-link:active {
    background-color: rgba(0, 0, 0, 0.35);
}

.promo-offers-item {
    display: flex;
}

.promo-offers-item-content {
    padding-left: 23px;
    padding-top: 20px;
    padding-bottom: 23px;
}

.promo-offers-item-img-wrapper {
    display: flex;
    align-items: center;
    padding-left: 37px;
}

/* заголовок секции популярных товаров и производителей*/
.products-title-wrapper {
    background-color: #F9F5F0;
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 20px;
}

.products-title-link {
    background-color: var(--basic-red);
    height: min-content;
    padding: 10px 24px;
    margin-top: 36px;
    margin-bottom: 36px;
    margin-left: 28px;
    margin-right: 14px;
    align-self: center;
    text-transform: uppercase;
}

.products-title {
    margin-left: 28px;
    margin-right: 14px;
    align-self: center;
    text-transform: uppercase;
}

/*секция с популярными товарами*/
.products-catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products-catalog-item-previous-price {
    color: var(--basic-grey);
    margin-bottom: 15px;
}

.products-catalog-item {
    width: 218px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--basic-grey);
}

.products-catalog-item:hover {
    box-shadow: 0 0 5px 2px var(--basic-grey);
}

.products-catalog-item-price {
    background-color: var(--basic-red);
    width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 44px;
    clip-path: polygon(0% 0%, 86% 0, 100% 50%, 86% 100%, 0% 100%);
    border-radius: 3px;
}

.products-catalog-item-buttons {
    display: grid;
    width: 135px;
    gap: 10px;
}

.products-catalog-item-top {
    width: 220px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-catalog-item-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0;
}

/*кнопка карточки "купить" */

.products-catalod-buy-btn {
    color: var(--white);
    background-color: var(--basic-green);
    border: 0;
    border-bottom: 3px solid #367315;
    border-radius: 3px;
    text-transform: uppercase;
    display: flex;
    height: min-content;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
}

.products-catalod-buy-btn::before {
    content: url(images/icons/icon-cart.svg);
    padding-right: 9px;
}

.products-catalod-buy-btn:hover {
    background-color: #09bb2d;
}

.products-catalod-buy-btn:active {
    background-color: #518534;
}

/*кнопка карточки "в корзину*/

.products-catalod-cart-btn {
    color: var(--dark-blue);
    background-color: var(--white);
    border: 3px solid var(--basic-green);
    border-radius: 3px;
    text-transform: uppercase;
    height: min-content;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.products-catalod-cart-btn:hover {
    border-color: var(--dark-blue);
}

.products-catalod-cart-btn:active {
    border-color: var(--basic-grey);
    color: var(--basic-grey);
}

/*секция популярные производители*/

.manufactures-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px
}

.manufactures-list-item {
    border: 1px solid var(--basic-grey);
    width: 218px;
    height: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manufactures-list-item:hover {
    box-shadow: 0 0 5px 2px var(--basic-grey);
}

.manufactures-list-item:active {
    opacity: 0.3;
    box-shadow: 0 0 5px 2px var(--basic-grey);
}

/* секция сервисы */
.services {
    background-color: #f1f5f7;
}

.services-title {
    padding-top: 65px;
    padding-bottom: 25px;
}

.services-inner {
    display: flex;
}

.services-list {
    display: flex;
    margin-top: 20px;
    height: 283px;
    margin: 0;
}

.services-button-list {
    width: 240px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.services-right {
    width: 100%;
}

.services-list-btn-item {
    background-color: var(--dark-blue);
    border: 0;
    justify-content: start;
    display: flex;
    padding-left: 22px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
}

.services-list-btn-item:hover {
    background-color: var(--black-blue);
}

.services-list-btn-item:active {
    background-color: var(--white);
    color: var(--dark-blue);
}

.services-list-item {
    margin-left: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top right;
}

.services-list-item-title {
    margin: 0;
}

.services-list-item-desc {
    margin-top: 30px;
    width: 330px;
}

.services-delivery {
    background-image: url(images/delivery.png);
}

.services-warranty {
    background-image: url(images/warranty.png);
}

.services-credit {
    background-image: url(images/credit.png);
}

.services-credit-btn {
    background-color: var(--basic-red);
    text-transform: uppercase;
    padding: 10px 45px;
}

/* секция "о нас"*/
.about {
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
}

.about-delivery {
    width: 640px;
    display: flex;
    flex-direction: column;
}

.about-office {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-title {
    margin: 0;
}

.about-delivery-btn {
    background-color: var(--basic-red);
    padding: 10px 40px;
    width: max-content;
}

.about-office-btn {
    background-color: var(--basic-red);
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-list-item::before {
    content: url(images/icons/Object.svg);
    margin-right: 12px;
    display: flex;
}

.about-list-item {
    font-size: 18px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
}

/*footer*/
.footer {
    color: var(--white);
}

.footer-top {
    background-color: var(--dark-blue);
    display: flex;
}

.footer-top-inner {
    display: flex;
    margin-bottom: 60px;
}

.footer-top-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.footer-company-name {
    background-color: var(--basic-red);
    border: 0;  
    border-bottom: 5px solid rgb(181, 41, 51);
    text-transform: uppercase;
    padding: 20px 41px 25px 41px;
    width: max-content;
}

.footer-top-left-desc {
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation {
    width: 100%;
    padding-left: 70px;
}

.footer-navigation-first-link:hover {
    text-decoration-line: underline;
}

.footer-navigation-first-link:active {
    opacity: 0.3;
    text-decoration-line: none
}

.footer-navigation-first {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-navigation-secondary {
    display: flex;
    justify-content: space-between;
}

.footer-navigation-secondary-link {
    color: #FFD180;
}

.footer-navigation-secondary-link:first-child {
    margin-left: 25px;
}

.footer-bottom {
    background-color: var(--black-blue);
}

.footer-bottom-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 15px;
}

.footer-bottom-contacts {
    display: flex;
    width: 290px;
    justify-content: space-between;
}

.footer-bottom-contacts-link {
    color: #FFD180;
}

.footer-bottom-contacts-link:hover {
    text-decoration-line: underline;
}

.footer-bottom-contacts-link:active {
    text-decoration-line: none;
    color: var(--basic-red);
}

.footer-bottom-copyright {
    margin: 0;
    line-height: 18px;
}

.footer-bottom-contacts-box {
    margin: 0;
    line-height: 18px;
}

.footer-social-medias-list {
    display: flex;
}

.footer-social-medias-item {
    height: 42px;
    width: 42px;
    background-color: #212A3A;
    border-radius: 50%;
    margin: 2px;
    display: flex;
}

.footer-social-medias-item:hover,
.footer-social-medias-item:active {
    background-color: var(--basic-red);
}

.footer-social-medias-item-link {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
