/* Глобальные*/

:root {
    --dark-blue: #32425C;
    --black-blue: #293449;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --active-basic-red: #cc3333;
}

body {
    width: 940px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    visibility: hidden;
}

/*хедер*/

.header {
    background-color: rgba(41, 52, 73, 0.01);
}

.header-top {
    background-color: var(--black-blue);
    font-size: 18px;
    line-height: 24px;
}

.header-top-list p{
    margin: 0;
}

/*хедер*/ /*кнопка "Техномарт*/
.header-top-list-general {
    background-color: var(--basic-red);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-color: rgb(181, 41, 51);
    border-style: solid;
}
.header-top-list-general:active {
    background-color: #ba2732;
    border-color: #8d1e26;
}

/*хедер*/ /*кнопка поиск*/
.header-top-list-search a{
    fill-opacity: 0.3;
    fill: #ffffff;
}
.header-top-list-search a:hover{
    fill-opacity: 1;
    fill: #ffffff;
}
.header-top-list-search:focus {
    background-color: #ffffff;
}
.header-top-list-search a:focus{
    fill-opacity: 1;
    fill: #EE3643;
    color: #000000;
}
.header-top-list-search a:active{
    fill-opacity: 0.3;
    fill: #ffffff;
    color: rgba(255, 255, 255, 0.3);
}

/*хедер*/ /*кнопка закладки и корзина*/
.header-top-list-bookmarks a,
.header-top-list-cart a {
    fill-opacity: 0.3;
    fill: #ffffff;
}
.header-top-list-bookmarks a:hover,
.header-top-list-cart a:hover {
    fill-opacity: 1;
    fill: #ffffff;
}
.header-top-list-bookmarks a:active,
.header-top-list-cart a:active {
    fill-opacity: 0.3;
    fill: #ffffff;
    color: rgba(255, 255, 255, 0.3);
}
.header-top-list-bookmarks:active,
.header-top-list-cart:active {
    background-color: #161D29;
}

/*хедер*/ /*кнопка оформить заказ*/
.header-top-list-order {
    background-color: var(--basic-green);
}
.header-top-list-order:hover {
    background-color: #5fbb2d;
}
.header-top-list-order:focus {
    background-color: var(--basic-red);
}
.header-top-list-order a:focus {
    color: #ffffff;
}
.header-top-list-order:active {
    background-color: var(--basic-green);
    color: #222222;
}
.header-top-list-order a:active {
    color: #b1d39e;
}

.header-middle {
    
}

.header-middle-contacts a {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-red);
    padding: 7px 40px;
    border: 3px;
    border-style: solid;
    border-color: #ffffff;
}

.header-middle-contacts a::before {
    content: url(icon/icon-phone.svg);
}

.header-middle-contacts address {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    color: var(--dark-blue);
}

.page-title {
    line-height: 23px;
    text-align: left;
    font-style: italic;
}
.page-title h1 {
    font-size: 16px;
    color: var(--basic-red);
}

/*хедер*/ /*кнопка войти*/
.header-middle-login {
    background-color: #ffffff;
}
.header-middle-login a{
    color: #000000;
    fill: #c5c5c5;
}
.header-middle-login a:hover{
    color: #EE3643;
    fill: #3d546f;
}
.header-middle-login a:active{
    color: #c5c5c5;
    fill: #c5c5c5;
}

.header-bottom {
    background-color: var(--dark-blue);
    font-size: 18px;
    line-height: 24px;
}

.header-navigation {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 5px;
    border-color: var(--black-blue);
    border-style: solid;
}

.header-navigation li:hover {
    background-color: var(--black-blue);
}
.header-navigation li:active {
    background-color: #1d2739;
}






/*майн*/ 
.promo-elements h3,
.promo-elements a{
    color: #ffffff;
}

.promo-elements a{
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    text-align: center;
    padding: 10px 24px;
    background-color: rgba(255, 255, 255, 0.3);
}
.promo-elements a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.promo-elements a:active{
    background-color: rgba(0, 0, 0, 0.35);
}

.promo-elements-material {
    background-color: #FFBF47;
}

.promo-elements-tool {
    background-color: #3BBCE3;
}

.promo-elements-technic {
    background-color: #DC91D8;
}

.promo-elements-boer {
    background-image: url(insruments/perforators.png);
    background-repeat: no-repeat;
}

.promo-elements-benefit {
    background-color: #8ED78F;
}

.promo-elements-delivery {
    background-color: #FFC047;
}

.popular-products a {
    background-color: var(--basic-red);
}

.popular-products-catalog li:hover {
    box-shadow: 0 0 5px 2px #c5c5c5;
}

.popular-products-catalog s {
    color: #c5c5c5;
}

.popular-products-title {
    background-color: #F9F5F0;
}

.popular-products-buy::before {
    content: url(icon/icon-cart.svg);
}
.popular-products-buy {
    color: #ffffff;
    background-color: var(--basic-green);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px;
    border-color: #367315;
    
    border-radius: 3px;
}
.popular-products-buy:hover {
    background-color: #09bb2d;
}
.popular-products-buy:active {
    background-color: #518534;
}

.popular-products-cart {
    color: var(--dark-blue);
    background-color: #ffffff;
    border: 3px;
    border-radius: 3px;
    border-color: var(--basic-green);
    border-style: solid;
}
.popular-products-cart:hover {
    border-color: var(--dark-blue);
}
.popular-products-cart:active {
    border-color: #c5c5c5;
    color: #c5c5c5;
}

.popular-manufacturers-title {
    background-color: #F9F5F0; 
}

.popular-manufacturers-title a {
    background-color: var(--basic-red);
}

.popular-manufacturers-items img:hover{
    box-shadow: 0 0 5px 2px #c5c5c5;
}
.popular-manufacturers-items img:active{
    opacity: 0.3;
    box-shadow: 0 0 5px 2px #c5c5c5;
}

.service {
    background-color: rgba(41, 52, 73, 0.01);
}

.service-button {
    box-shadow: inset -10px 0px 8px -11px grey;
}

.service-button button {
    background-color: var(--dark-blue);
    border: 0;
}
.service-button button:hover {
    background-color: var(--black-blue);
}
.service-button button:active {
    background-color: #ffffff;
    color: var(--dark-blue);
}

.definition a {
    background-color: var(--basic-red);
}

.definition-items li::before{
    content: url(icon/Object.svg);
    margin-right: 12px;
}

.definition-items li{
    font-size: 18px;
    line-height: 24px;
}

/*footer*/

.footer-navigation {
    background-color: var(--dark-blue);
}

.footer-navigation-title a{
    background-color: var(--basic-red);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px;
    border-color: rgb(181, 41, 51);
    border-style: solid;
}

.footer-navigation-title p {
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
}

.footer-navigation-item a:hover {
    text-decoration-line: underline;
}
.footer-navigation-item a:active {
    opacity: 0.3;
    text-decoration-line:none
}

.footer-navigation-item-decoration a{
    color: #FFD180;
}

.footer-contacts {
    background-color: var(--black-blue);
}

.footer-contacts p{
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-style: normal;
}

.footer-contacts-icon div {
    height: 42px;
    width: 42px;
    background-color: #212A3A;
    border-radius: 50%;
    margin: 1px;
}
.footer-contacts-icon div:hover,
.footer-contacts-icon div:active {
    background-color: var(--basic-red);
}

.footer-contacts-icon-vk a{
    display: flex;
    justify-content: center;
    padding-top: 13px;
}

.footer-contacts-icon-facebook a{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer-contacts-icon-instagram a{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.footer-contacts a {
    color:#FFD180;
}
.footer-contacts a:hover {
    text-decoration-line: underline;
}
.footer-contacts a:active {
    text-decoration-line: none;
    color: var(--basic-red);
}